<ion-view id="clients-form" view-title="{{vm.actionLabel | translate}}" cache-view="false">
    <ion-nav-buttons side="right">
        <!--<button class="button button-clear align-left" ng-click="vm.closeOrder()">Volver</button>-->
        <button class="button button-icon icon ion-checkmark-circled icon-right"
                ng-disabled="vm.saveForm.$invalid || vm.saveForm.$pristine"
                ng-click="vm.promptSave()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <form name="vm.saveForm">
            <ion-list>

                <ion-item class="item-divider item-icon-left">
                    <i class="icon ion-person"></i>
                    {{'profile' | translate}}
                </ion-item>

                <ion-item class="item-input" ng-if="vm.actionLabel === 'edit_client'">
                    <span class="input-label">{{'folio' | translate}}:</span>
                    <input type="text"
                           ng-required="true"
                           ng-model="vm.client.folio">
                    <!--<h2 class="text-gray">{{vm.client.folio}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'firstName' | translate}}:</span>
                    <input type="text"
                           ng-required="true"
                           ng-model="vm.client.profile.firstName">
                    <!--<h2 class="text-gray">{{vm.client.profile.profile.firstName}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'lastName' | translate}}:</span>
                    <input type="text"
                           ng-required="true"
                           ng-model="vm.client.profile.lastName">
                    <!--<h2 class="text-gray">{{vm.client.profile.profile.lastName}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'rfc' | translate}}:</span>
                    <input type="text"
                           ng-required="true"
                           ng-model="vm.client.profile.rfc">
                    <!--<h2 class="text-gray">{{vm.client.profile.rfc}}</h2>-->
                </ion-item>

                <ion-item class="item-divider item-icon-left">
                    <i class="icon ion-location"></i>
                    {{'address' | translate}}
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'street' | translate}}:</span>
                    <input type="text"
                           ng-required="true"
                           ng-model="vm.client.profile.address.street">
                    <!--<h2 class="text-gray">{{vm.client.profile.address.street}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'number' | translate}}:</span>
                    <input type="number"
                           ng-required="true"
                           ng-model="vm.client.profile.address.number">
                    <!--<h2 class="text-gray">{{vm.client.profile.address.number}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'interior' | translate}}:</span>
                    <input type="text"
                           ng-model="vm.client.profile.address.interior">
                    <!--<h2 class="text-gray">{{vm.client.profile.address.interior}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'neighborhood' | translate}}:</span>
                    <input type="text"
                           ng-required="true"
                           ng-model="vm.client.profile.address.neighborhood">
                    <!--<h2 class="text-gray">{{vm.client.profile.address.neighborhood}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'postalCode' | translate}}</span>
                    <input type="number"
                           ng-required="true"
                           ng-model="vm.client.profile.address.postalCode">
                    <!--<h2 class="text-gray">{{vm.client.profile.address.postalCode}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'city' | translate}}:</span>
                    <input type="text"
                           ng-required="true"
                           ng-model="vm.client.profile.address.city">
                    <!--<h2 class="text-gray">{{vm.client.profile.address.city}}</h2>-->
                </ion-item>

                <ion-item class="item-input">
                    <span class="input-label">{{'state' | translate}}:</span>
                    <input type="text"
                           ng-required="true"
                           ng-model="vm.client.profile.address.state">
                    <!--<h2 class="text-gray">{{vm.client.profile.address.state}}</h2>-->
                </ion-item>

            </ion-list>
        </form>
    </ion-content>
</ion-view>