<ion-view view-title="{{'order' | translate}} No. {{vm.order.get('folio')}}" cache-view="false">
    <ion-header-bar>
        <h1 class="title">Detalles de Pedido</h1>
        <div class="buttons">
            <button class="button button-clear align-left" ng-click="vm.closeOrder()">Volver</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item item-divider text-center">
                Estatus: {{vm.order.get('status') | orderStatusFilter}}
            </ion-item>
            <ion-item ng-if="vm.adminUser" class="item item-divider text-center">
                {{vm.order.get('client').get('folio')}} - {{vm.order.get('client').get('profile').get('lastName')}}
                {{vm.order.get('client').get('profile').get('firstName')}}
            </ion-item>
            <ion-item class="item item-icon-left" ng-repeat="item in vm.order.items">
                <h4 class="icon">{{item.get('quantity')}}</h4>
                <p class="item-note text-right">
                    PU: {{item.price | number: 2}} MXN
                    <br/>
                    STL: {{(item.totals) | currency}} MXN
                </p>
                <h2>{{item.description}}</h2>
                <h2>{{item.sku}}</h2>
            </ion-item>
            <ion-item class="item item-divider text-center">
                Total: {{vm.order.totals | currency}} MXN
            </ion-item>
            <ion-item>
                <button class="button button-block button-positive"
                        ng-disabled="vm.order.get('status') > 1">
                    Editar Pedido
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>