<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Agregar Producto</h1>

        <div class="buttons">
            <button class="button button-clear align-left" ng-click="vm.closeAddNewItem()">Cancelar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Código:</span>
                <input type="text"
                       placeholder="Escriba código de producto..."
                       ng-model="vm.searchSku"
                       ng-change="vm.searchProduct()"
                       ng-model-options="{ debounce: 500 }">
            </label>
            <label class="item item-input">
                <span class="input-label">Descripción:</span>

                <h2 class="text-gray">{{vm.item.product.get('description')}}</h2>
            </label>
            <label class="item item-input">
                <span class="input-label">Cantidad:</span>
                <input type="number"
                       min="1"
                       placeholder="Escriba cantidad..."
                       ng-model="vm.item.quantity">
            </label>
            <label class="item item-input">
                <span class="input-label">Precio Unitario:</span>
                $ <input type="number"
                         min="1"
                         step="0.01"
                         placeholder="Escriba precio unitario..."
                         ng-if="!vm.clientUser"
                         ng-model="vm.item.price">
                <h2 ng-if="vm.clientUser">{{vm.item.price | currency} MXN</h2>
            </label>
            <label class="item item-input">
                <span class="input-label">Descuento (%):</span>
                <input type="number"
                       min="1"
                       step="0.01"
                       placeholder="Escriba porcentaje de descuento..."
                       ng-if="!vm.clientUser"
                       ng-model="vm.item.discount">

                <h2 ng-if="vm.clientUser">{{vm.item.discount}}%</h2>
            </label>
            <label class="item item-input">
                <span class="input-label">Subtotal:</span>
                <h2>{{vm.item.subtotals | currency}} MXN</h2>
            </label>
            <label class="item item-input">
                <span class="input-label">IVA:</span>
                <p class="text-gray">{{vm.item.iva | currency}} MXN</p>
            </label>
            <label class="item item-input">
                <span class="input-label">Total:</span>
                <h2>{{vm.item.totals | currency}} MXN</h2>
            </label>
            <label class="item">
                <button class="button button-block button-positive"
                        ng-disabled="!vm.item.sku || vm.item.quantity < 1"
                        ng-click="vm.addNewItem()">
                    Agregar Producto
                </button>
            </label>
            </ion-list>
        </div>
    </ion-content>
</ion-modal-view>